ul, ul li{
  list-style-type:none;
  margin:0;
  padding:0;
}

.beer-info span:not(:last-of-type) {
    border-right: 1px solid black;
    margin-right: 10px;
    padding-right: 10px;
}

p,
span{
	font-size:1.25vw;
}

h1{
	font-size:1.75vw;
}

h2{
	font-size:1.25vw;
}

.print-wrap{
  height:10%;
}

header{
  width:90%;
  position:fixed;
  left:5%;
  top:0;
  height:10%;
}

ul{
  position:fixed;
  top:calc(10% + 100px);
  left:2%;
  height:calc(85% - 100px);
  width:96%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.after-menu{
  position:fixed;
  bottom:0;
  width:90%;
  left:5%;
  text-align:center;
}

aside.has-img{
  height:90%;
  background-repeat:no-repeat;
  background-size:contain;
}

.beer-info h1{
  margin:0;
  padding:0;
}

.beer-info em{
  font-size:1.25vw;
}

.beer-info p,
.beer-info span{
  margin:0;
	width:90%;
}

.beer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

img {
  float: left;
  margin-right: 20px;
  height: 100%;
}

header img {
    height: 100px;
    width: auto;
    max-width:200px;
    margin: 20px auto;
}

header {
  display: flex;
  flex-direction: column;
}

header * {
  height: 33%;
  margin: 0;
  padding: 0;
  text-align:center;
}