.beer-popup.hidden{
  opacity:0;
  transition: opacity 0.2s ease-in-out;
  z-index:-999;
}

.beer-popup {
    position: absolute;
    background:rgba(255,255,255,0.95);
    transform:translateY(110px);
    width:400px;
    max-width:100%;
    opacity:1;
    transition: opacity 0.2s ease-in-out;
    z-index:9999;
    padding:20px;
    box-shadow:1px 1px 10px 1px rgba(0,0,0,0.5);
}

.beer-popup aside{
  clear:both;
  width:80%;
  text-align:center;
  margin:auto;
}

.beer-popup h2{
    width:100%;
    margin-bottom:10px;
}

.beer-popup h3{
    width:100%;
    margin-top:0;
    padding-bottom:10px;
    height:16px;
    font-style:italic;
}

.beer-popup img{
    float:left;
    width:30%;
    height:auto;

}

.beer-popup figcaption{
    float:right;
    width:60%;
    display:block;
}

.beer-popup dl{
    clear:both;
    border-top:1px solid black;
}

.beer-popup dl div{
    width:33%;
    float:left;
    text-align:center;
}

/*---BEER PAGE---*/
.tasbb-beer-info-wrapper {
    max-width: 80%;
    width: 600px;
    margin: auto;
    display:flex;
    justify-content:space-around;
}

.tasbb-primary-content-wrapper h3{
	text-align:center;
	width:100%;
	display:block;
}

.tasbb-primary-content-wrapper .jetpack-video-wrapper{
    display: flex;
    justify-content: space-around;
}